<!-- Tiene que llamarse como el código de error devuelto y dentro de la carpeta error. Es muy importante que los nombres sean asi 
para que funcione correctamente. Solo con poner esos nombre, ya se dará este mensaje cuando haya un error 500 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Oops! Página no encontrada</title>
</head>
<body>
	<h3>Oops! Página no encontrada</h3>
	<div th:text="${error}"></div>
	<div th:text="${status}"></div>
	<div th:text="${timestamp}"></div>
	<!-- Línea separadora -->
	<hr>
	<div th:text="${path}"></div>
</body>
</html>



